body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', sans-serif;
  }

  /* Contient tout */
  .boardGame {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/BGboardgame.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
  }

  /* Bouton central */
  .ready {
    width: 20vw;
    height: 20vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    z-index: 6;
    background-color: transparent;
    overflow: hidden;
    animation: zoomInOut 2s infinite alternate;
  }

  .ready img {
    width: 15vw;
  }

  @keyframes zoomInOut {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.2);
    }
  
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
 
  /* Images de victoire */
  #j1WIN {
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    display: none;
  }
  
  #j2WIN {
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    display: none;
  }

  /* Joueur 1 */
  .joueur1 {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .imgJ1 {
    width: 20vw;
    aspect-ratio: 921/242;
  }

  /* Joueur2 */
  .joueur2 {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .imgJ2 {
    width: 20vw;
    aspect-ratio: 921/242;
  }

  /* deck1 */
  .deck1{
    height: 20vh;
    width: 30vh;
    background-image: url(../img/fond.jpeg);
    background-position: center;
    background-size: cover;
    border: 2px solid #711414;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px #711414;
    overflow: hidden;
    position: relative;
  }

  .deck1Hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    text-align: center;
    font-size: 10px;
  }

  .deck1Hover button {
    background-color: #711414;
    color: #f0f9f6;
    border-radius: 10px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 5px;
    font-family: 'Press Start 2P', sans-serif;
  }

  .deck1:hover .deck1Hover {
    opacity: 0.8;
  }

  .deck1Hover div {
    display: flex;
  }

  .persos1 {
    height: 20vh;
    margin: auto;
    transform: scaleX(-1);
  }

  /* Deck2 */

  .deck2{
    height: 20vh;
    width: 30vh;
    background-image: url(../img/fond.jpeg);
    background-position: center;
    background-size: cover;
    border: 2px solid #19336e;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px #19336e;
    overflow: hidden;
    position: relative;
  }

  .deck2Hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    text-align: center;
    font-size: 10px;
  }
  
  .deck2:hover .deck2Hover {
    opacity: 0.8;
  }
  .deck2Hover div {
    display: flex;
  }
  .deck2Hover button {
    background-color: #19336e;
    color: #f0f9f6;
    border-radius: 10px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 5px;
    font-family: 'Press Start 2P', sans-serif;
  }
  
  .persos2{
    height: 20vh;
    transform: scaleX(-1);
  }

    /* vies */
    .viesJ1 {
      width: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
      
    .vieJ1 {
      height: 3vh;
      margin: 5px;
    }  
  
    .viesJ2 {
      width: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
    .vieJ2 {
      height: 3vh;
      margin: 5px;
    }
  
  /* Griser Joueur adverse */
  .grise {
    filter: grayscale(100%);
  }
